.app-header {
  height: 40px;
}

.app-header .app-title {
  font-size: 26px;
}

.museum-nav {
  width: 260px;
}

 .content {
  height: calc(100% - 40px);
 }

.content {
  min-width: 230px;
}

.search-group {
  height: 54px;
}

.search-group .search-input {
  height: 30px;
  width: 150px;
}

.search-group .search-button {
  height: 30px;
  width: 70px;
}

.museum-list {
  margin: 18px auto;
  height: calc(100% - 140px);
}